.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-TkLCJUaHp9Sy);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-1XbUbHvCH40x);
  font-family: var(--token-hejqISNS9g6k);
  font-size: var(--token-D3if3RArAhFz);
  line-height: var(--token-Jyelzdjyul-y);
  outline-style: none;
  border-radius: var(--token-5XpXsJw4mN0V);
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-QrE3rIB60C4M);
  outline-offset: 1px;
  outline-color: var(--token-X7qMpEox35n3);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-cVF-lHpxsngd);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-zZJrvr5GX8br);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-Cd75CJKupUve);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-Hk0U_8vsOchN);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-YWVm3aOXzYt_);
}
.rootcolor_blue:global(.__wab_instance) {
  background: var(--token-TkLCJUaHp9Sy);
  border-style: solid;
  border-color: #185adb;
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-G6gOoitrilHN);
  font-size: var(--token-Mh0AI1LQFfKG);
  column-gap: var(--token-QrE3rIB60C4M);
  row-gap: 0px;
  border-radius: var(--token-mKB01T-I0xg2);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-Mh0AI1LQFfKG);
  line-height: var(--token-G6gOoitrilHN);
  column-gap: var(--token-mKB01T-I0xg2);
  row-gap: 0px;
  border-radius: var(--token-mKB01T-I0xg2);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-JteB3dZIqIMn);
  line-height: var(--token-qluPoC4Lxbwr);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-JteB3dZIqIMn);
  line-height: var(--token-qluPoC4Lxbwr);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-lM_oRAgRwN6m);
  border-radius: var(--token-5XpXsJw4mN0V);
}
.softBackgroundcolor_neutral {
  background: var(--token-rD7kKK4QYO-n);
}
.softBackgroundcolor_muted {
  background: var(--token-rnh89j3OoCMs);
}
.softBackgroundcolor_success {
  background: var(--token-TCD5dbj_B-pK);
}
.softBackgroundcolor_warning {
  background: var(--token-9LuHynypInbX);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-jWiUAcUiHoJ1);
}
.softBackgroundtype_soft {
  background: var(--token-mRuRgiMqfffT);
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.roottype_bordered_color_blue[data-hovered]
  .softBackgroundtype_bordered_color_blue {
  background: var(--token-T3NVNWR4MBpF);
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-5XpXsJw4mN0V);
  border: 0px solid var(--token-Pvkl86vqlxod);
}
.bordercolor_neutral {
  border-color: var(--token-Yj_HrSQgTtyS);
}
.bordercolor_muted {
  border-color: var(--token-XZjaDDa_0Itt);
}
.bordercolor_success {
  border-color: var(--token-JU28O0DuphJJ);
}
.bordercolor_warning {
  border-color: var(--token-mGVkkOYlMjYS);
}
.bordercolor_errorDestructive {
  border-color: var(--token-AQvkUwrllIOP);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
  border-color: #185adb;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-5XpXsJw4mN0V);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-kosxY0Iui7dW);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-PpKXyuLQFn_2);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-VcjR2C14D1bM);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__fFl5I {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-5XpXsJw4mN0V);
  min-width: 0;
  min-height: 0;
  padding: var(--token-5XpXsJw4mN0V) var(--token-83wr_vPS3fGM);
}
.freeBoxsize_extraSmall__fFl5I3LiSu {
  padding: var(--token-mKB01T-I0xg2) var(--token-5XpXsJw4mN0V);
}
.freeBoxsize_small__fFl5Icqrku {
  padding: var(--token-5XpXsJw4mN0V) var(--token-1XbUbHvCH40x);
}
.freeBoxsize_large__fFl5IJ2Ek {
  padding-top: var(--token-mKB01T-I0xg2);
  padding-bottom: var(--token-mKB01T-I0xg2);
}
.freeBoxsize_extraLarge__fFl5ICo8TD {
  padding: 16px 32px;
}
.freeBoxroundedFull__fFl5IBsKwG {
  padding-right: var(--token-R7QhcVVRkiik);
  padding-left: var(--token-R7QhcVVRkiik);
}
.freeBox__qI1Rf {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__qI1RfCF8 {
  display: flex;
}
.slotTargetStart {
  color: var(--token-TmS0o2fdv4_1);
}
.slotTargetStartcolor_neutral {
  color: var(--token-zUYQuHdw7lmd);
}
.slotTargetStartcolor_muted {
  color: var(--token-rh8bDe81-LDv);
}
.slotTargetStartcolor_success {
  color: var(--token-JOGgafgZLMCJ);
}
.slotTargetStartcolor_warning {
  color: var(--token-LcORSGJ23R7B);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-QCTXCcL4cZqd);
}
.slotTargetStarttype_soft {
  color: var(--token-urxukiMNlKuw);
}
.slotTargetStarttype_bordered {
  color: var(--token-urxukiMNlKuw);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-Mh0AI1LQFfKG);
}
.slotTargetStartsize_small {
  font-size: var(--token-Mh0AI1LQFfKG);
}
.slotTargetStartsize_large {
  font-size: var(--token-JteB3dZIqIMn);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-JteB3dZIqIMn);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-T3NVNWR4MBpF);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-T3NVNWR4MBpF);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-uZFNayoos1ur);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-uZFNayoos1ur);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-oqFiORYWB6B7);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-oqFiORYWB6B7);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-nDcBupvrgxj7);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-nDcBupvrgxj7);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-K4LW0HKofHuP);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-K4LW0HKofHuP);
}
.svg__tvtpP {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-TmS0o2fdv4_1);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-zUYQuHdw7lmd);
}
.slotTargetLabelcolor_muted {
  color: var(--token-rh8bDe81-LDv);
}
.slotTargetLabelcolor_success {
  color: var(--token-JOGgafgZLMCJ);
}
.slotTargetLabelcolor_warning {
  color: var(--token-LcORSGJ23R7B);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-QCTXCcL4cZqd);
}
.slotTargetLabeltype_soft {
  color: #185adb;
}
.slotTargetLabeltype_bordered {
  color: var(--token-urxukiMNlKuw);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-T3NVNWR4MBpF);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-uZFNayoos1ur);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-T3NVNWR4MBpF);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-oqFiORYWB6B7);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-uZFNayoos1ur);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-nDcBupvrgxj7);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-oqFiORYWB6B7);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-K4LW0HKofHuP);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-nDcBupvrgxj7);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-K4LW0HKofHuP);
}
.text__i3Ku {
  white-space: pre;
  color: #eeeeee;
}
.freeBox__nIb3I {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__nIb3Ibp7O7 {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-TmS0o2fdv4_1);
}
.slotTargetEndcolor_neutral {
  color: var(--token-zUYQuHdw7lmd);
}
.slotTargetEndcolor_muted {
  color: var(--token-rh8bDe81-LDv);
}
.slotTargetEndcolor_success {
  color: var(--token-JOGgafgZLMCJ);
}
.slotTargetEndcolor_warning {
  color: var(--token-LcORSGJ23R7B);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-QCTXCcL4cZqd);
}
.slotTargetEndtype_soft {
  color: var(--token-urxukiMNlKuw);
}
.slotTargetEndtype_bordered {
  color: var(--token-urxukiMNlKuw);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-Mh0AI1LQFfKG);
}
.slotTargetEndsize_small {
  font-size: var(--token-Mh0AI1LQFfKG);
}
.slotTargetEndsize_large {
  font-size: var(--token-JteB3dZIqIMn);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-JteB3dZIqIMn);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-T3NVNWR4MBpF);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-T3NVNWR4MBpF);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-uZFNayoos1ur);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-uZFNayoos1ur);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-oqFiORYWB6B7);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-oqFiORYWB6B7);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-nDcBupvrgxj7);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-nDcBupvrgxj7);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-K4LW0HKofHuP);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-K4LW0HKofHuP);
}
.svg__bPRo {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
